body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.box-geral {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: ghostwhite;
}

.content-button {
    padding-top: 5rem;
}

.campos-resposta li {
    list-style-type: none;
}

.msgErroQtdDePecaCadastrada,
.msgNomeDaPeca,
.msgPesoDaPeca {
    display: none;
    color: red;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
    padding: 0.425rem 1rem;
    font-size: 0.9rem;
    border-radius: 2.5rem;
    border: 1px solid red;
    color: white;
    background: black;
}

.sectionCriarListaDePecas {
    border: 1px solid grey;
    padding: 3rem;
    margin: auto;
}